/* CSS Test */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  outline: none;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  color: #CCC;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.chaordic {
  font-family: Arial, sans-serif;
  border: 1px solid #CCC;
}
.chaordic h2 {
  display: block;
  font-size: 16px;
  padding: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #c3e4ed), color-stop(50%, #c1f0f6));
  background-image: -webkit-linear-gradient(#c3e4ed 50%, #c1f0f6 50%);
  background-image: -moz-linear-gradient(#c3e4ed 50%, #c1f0f6 50%);
  background-image: -o-linear-gradient(#c3e4ed 50%, #c1f0f6 50%);
  background-image: linear-gradient(#c3e4ed 50%, #c1f0f6 50%);
}
.chaordic .reference {
  float: left;
  width: 20%;
}
.chaordic .reference .item {
  border-right: 1px solid #CCC;
  width: 100%;
}
.chaordic .recommendation {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 80%;
}
.chaordic .list {
  display: block;
}
.chaordic .item {
  float: left;
  padding: 10px;
}
.chaordic .item:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c3e4ed), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#c3e4ed, #ffffff);
  background-image: -moz-linear-gradient(#c3e4ed, #ffffff);
  background-image: -o-linear-gradient(#c3e4ed, #ffffff);
  background-image: linear-gradient(#c3e4ed, #ffffff);
}
.chaordic .item figure {
  text-align: center;
}
.chaordic .item .text {
  display: block;
  font-size: 12px;
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 43.2px;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 12px;
  line-height: 1.2;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 0;
}
.chaordic .item .old-price {
  display: block;
  font-size: 12px;
  padding: 5px 0;
}
.chaordic .item .price {
  display: block;
  color: #900;
  padding: 2px 0;
}
.chaordic .item .payment {
  color: #900;
  font-size: 12px;
}
.chaordic .carousel {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  padding: 0 30px;
}
.chaordic .carousel .list {
  position: relative;
}
.chaordic .carousel .btn-list button {
  background: #EEE;
  width: 30px;
  height: 100px;
  position: absolute;
  top: 0;
  height: 100%;
  -webkit-box-shadow: #aaaaaa 4px 4px 10px;
  -moz-box-shadow: #aaaaaa 4px 4px 10px;
  box-shadow: #aaaaaa 4px 4px 10px;
  font-size: 30px;
  color: #666666;
}
.chaordic .carousel .btn-list button:hover {
  color: #0000FF;
}
.chaordic .carousel .btn-list #btn-next {
  right: 0;
  -webkit-box-shadow: #aaaaaa -4px -4px 10px;
  -moz-box-shadow: #aaaaaa -4px -4px 10px;
  box-shadow: #aaaaaa -4px -4px 10px;
}
.chaordic .carousel .btn-list #btn-prev {
  left: 0;
}
