/* CSS Test */

@import "compass/reset";
@import "reset";
@import "compass";
@import "mixins";

$font-size: 12px;
$line-height: 1.2;
$lines-to-show: 3;


* {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

h1 {
  color: #CCC;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}



.chaordic {
  //display: table;
  font-family: Arial, sans-serif;
  border: 1px solid #CCC;

  h2 {
    display: block;
    //background: cornflowerblue;
    font-size: 16px;
    padding: 10px;
    @include background-image(linear-gradient( #C3E4ED 50%, #C1F0F6 50% ));
  }

  .reference {
    //display: table-cell;
    //@include inline-block();

    float: left;
    width:20%;
    .item {
      border-right: 1px solid #CCC;
      width: 100%;
    }
  }

  .recommendation {
    //display: table-cell;
    @include inline-block();
    width:80%;
  }


  .list {
    display: block;
    //width: 3000px;
  }

  .item {
    float: left;
    //width: 300px;
    padding: 10px;
    &:hover {
      @include background-image(linear-gradient(#C3E4ED,  white));
    }
    figure{
      text-align: center;
    }
    .text {
      display: block;
      font-size: 12px;
      @include multiline-elipsis($font-size, $line-height, $lines-to-show);
      margin: 10px 0;
    }
    .old-price {
      display: block;
      font-size: 12px;
      padding: 5px 0 ;
    }
    .price {
      display: block;
      color: #900;
      padding: 2px 0 ;
    }
    .payment {
      color: #900;
      font-size: 12px;
    }
  }


  .carousel {
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    padding: 0 30px;

    .list {
      //width: 3000px;
      position: relative;
    }
    .btn-list {
      button {
        //@include background-image(linear-gradient(to right, #dddddd, rgba(255,255,255, 1) ));
        background: #EEE;
        width: 30px;
        height: 100px;
        position: absolute;
        top: 0;
        height: 100%;
        @include box-shadow(#AAA 4px 4px 10px);
        font-size: 30px;

        color: #666666;
        &:hover {
          color: #0000FF;
        }
      }
      #btn-next {
        right: 0;
        @include box-shadow(#AAA -4px -4px 10px);
        //background: #DDD;
        //@include background-image(linear-gradient( rgba(255,255,255, 1), #dddddd ));
      }

      #btn-prev {
        left: 0;
      }

    }
  }


}
